@model QLHD.Models.Event

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/index.cshtml";
}

<h2>CHỈNH SỬA HOẠT ĐỘNG</h2>
@ViewData["Error"]
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Chi tiết</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idEvent)

        <div class="form-group">
            <label class="control-label col-md-2">Mã hoạt động</label>
            
            <div  class="col-md-10" style ="padding-top:8px">
                
                @Model.idEvent 
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Tên hoạt động</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.eventName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.eventName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ngày bắt đầu đăng ký</label>
            
            <div class="col-md-10">
                
                @Html.EditorFor(model => model.dateRegister, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dateRegister, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ngày kết thúc đăng ký</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateEndRegister, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dateEndRegister, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ngày diễn ra</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateStart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dateStart, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ngày kết thúc</label>
            <div class="col-md-10"> 
                @Html.EditorFor(model => model.dateEnd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dateEnd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Loại hoạt động</label>
            <div class="col-md-10">
                @Html.DropDownList("idType")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Đơn vị tổ chức</label>
            <div class="col-md-10">
                @Html.DropDownList("idOganizer")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Học kì</label>
            <div class="col-md-10">
                @Html.DropDownList("idSemester")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Khoa</label>
            <div class="col-md-10">
                @Html.DropDownList("idFalcuty")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Lớp</label>
            <div class="col-md-10">
                @Html.DropDownList("idClass")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">SL cho đăng ký</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.studentNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.studentNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">SL đã đăng ký</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Registation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Registation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">SL đã tham gia</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Attendant, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Attendant, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Địa điểm tổ chức</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Nội dung</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="Luu" type="submit" value="Lưu" class="btn btn-default" style="background-color:lightseagreen;color:white;font-family:Tahoma;"/>
            </div>
        </div>
    </div>
}

<div class="EditBack">
    <a class="Back" href="@Url.Action("DSHD","Admin")"><span class="glyphicon glyphicon-circle-arrow-left"></span><p>TRỞ VỀ</p></a>
</div>
