@model QLHD.Models.Student

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/index.cshtml";
}

<h2>THÊM MỚI SINH VIÊN</h2>
@ViewData["Error"]
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">MSSV</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.idStudent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idStudent, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Họ tên</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ngày sinh</label>
            <div class="col-md-10">
                <input type="date" name="dob" />
                @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Lớp</label>
            <div class="col-md-10">
                @Html.DropDownList("idClass")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Khóa</label>
            <div class="col-md-10">
                @Html.DropDownList("idCourse")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Là ban cán sự?</label>
            <div class="col-md-10">
                @Html.DropDownList("idType")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Khoa</label>
            <div class="col-md-10">
                @Html.DropDownList("idFalcuty")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Địa chỉ</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.andress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.andress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Email</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">SDT</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Xác nhận tạo mới" class="btn btn-default" style="background-color:lightseagreen;color:white;font-family:Tahoma;" />
            </div>
        </div>
    </div>
}

<div class="EditBack">
    <a class="Back" href="@Url.Action("Index","AdminSV")"><span class="glyphicon glyphicon-circle-arrow-left"></span><p>TRỞ VỀ</p></a>
</div>
